{% extends "base.html" %}

{% block cuerpo%}
        <!-- slider -->
        <div class="fullwidthbanner-container">
            <div id="revolution-slider">
                <ul>
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="images-slider/thumbs/thumb1.jpg">
                        <!--  BACKGROUND IMAGE -->
                        <img src="{{STATIC_URL}}images-slider/wide1.jpg" alt="" />
                        <div class="tp-caption big-white sfb"
                            data-x="0"
                            data-y="100"
                            data-speed="300"
                            data-start="800"
                            data-easing="easeOutExpo">
                            <strong>El Mejor</strong> Servicio
                        </div>

                        <div class="tp-caption med-white sfb"
                            data-x="0"
                            data-y="150"
                            data-speed="300"
                            data-start="1000"
                            data-easing="easeOutExpo">
                            Dejamos tu carro como nuevo impresionante
                        </div>

                        <div class="tp-caption sfl"
                            data-x="0"
                            data-y="200"
                            data-speed="300"
                            data-start="1200"
                            data-easing="easeOutExpo">
                            <i class="icon-check"></i>Calidad
                        </div>

                        <div class="tp-caption sfl"
                            data-x="0"
                            data-y="230"
                            data-speed="300"
                            data-start="1400"
                            data-easing="easeOutExpo">
                            <i class="icon-check"></i>Respaldo
                        </div>

                        <div class="tp-caption sfl"
                            data-x="0"
                            data-y="260"
                            data-speed="300"
                            data-start="1600"
                            data-easing="easeOutExpo">
                            <i class="icon-check"></i>Ahorro de tiempo
                        </div>

                        <div class="tp-caption small-white sfr"
                            data-x="0"
                            data-y="300"
                            data-speed="300"
                            data-start="1800"
                            data-easing="easeOutExpo">
                            <a href="#" class="btn btn-large btn-primary">Solicitalo Ya</a>
                        </div>

                        <div class="tp-caption small-white lfb"
                            data-x="480"
                            data-y="center"
                            data-speed="1000"
                            data-start="2000"
                            data-easing="easeOutExpo">
                            <img src="{{STATIC_URL}}images-slider/server.png" alt="" />
                        </div>
                    </li>
                    
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="images-slider/thumbs/thumb1.jpg">
                        <!--  BACKGROUND IMAGE -->
                        <img src="{{STATIC_URL}}images-slider/wide3.jpg" alt="" />
                        <div class="tp-caption big-white sfb"
                            data-x="0"
                            data-y="100"
                            data-speed="300"
                            data-start="800"
                            data-easing="easeOutExpo">
                            <strong>Personal</strong> Calificado
                        </div>

                        <div class="tp-caption med-white sfb"
                            data-x="0"
                            data-y="150"
                            data-speed="300"
                            data-start="1000"
                            data-easing="easeOutExpo">
                            Nuestro personal es el mejor de la ciudad
                        </div>

                        <div class="tp-caption sfl"
                            data-x="0"
                            data-y="200"
                            data-speed="300"
                            data-start="1200"
                            data-easing="easeOutExpo">
                            <i class="icon-check"></i>Profesionales
                        </div>

                        <div class="tp-caption sfl"
                            data-x="0"
                            data-y="230"
                            data-speed="300"
                            data-start="1400"
                            data-easing="easeOutExpo">
                            <i class="icon-check"></i>Dedicados
                        </div>

                        <div class="tp-caption sfl"
                            data-x="0"
                            data-y="260"
                            data-speed="300"
                            data-start="1600"
                            data-easing="easeOutExpo">
                            <i class="icon-check"></i>Amables
                        </div>

                        <div class="tp-caption small-white sfr"
                            data-x="0"
                            data-y="300"
                            data-speed="300"
                            data-start="1800"
                            data-easing="easeOutExpo">
                            <a href="#" class="btn btn-large btn-primary">Conoce Mas</a>
                        </div>

                        <div class="tp-caption small-white lfb"
                            data-x="480"
                            data-y="center"
                            data-speed="1000"
                            data-start="2000"
                            data-easing="easeOutExpo">
                            <img src="{{STATIC_URL}}images-slider/women.png" alt="" />
                        </div>
                    </li>

                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="images-slider/thumbs/thumb1.jpg">
                        <!--  BACKGROUND IMAGE -->
                        <img src="{{STATIC_URL}}images-slider/wide2.jpg" alt="" />
                        <div class="tp-caption big-white sfb"
                            data-x="0"
                            data-y="100"
                            data-speed="300"
                            data-start="800"
                            data-easing="easeOutExpo">
                            <strong>Camionetas</strong> Como Nuevas
                        </div>

                        <div class="tp-caption med-white sfb"
                            data-x="0"
                            data-y="150"
                            data-speed="300"
                            data-start="1000"
                            data-easing="easeOutExpo">
                            Tu camioneta parecera recien comprada
                        </div>

                        <div class="tp-caption sfl"
                            data-x="0"
                            data-y="200"
                            data-speed="300"
                            data-start="1200"
                            data-easing="easeOutExpo">
                            <i class="icon-check"></i>Limpieza Profunda
                        </div>

                        <div class="tp-caption sfl"
                            data-x="0"
                            data-y="230"
                            data-speed="300"
                            data-start="1400"
                            data-easing="easeOutExpo">
                            <i class="icon-check"></i>Brillo Insuperable
                        </div>

                        <div class="tp-caption sfl"
                            data-x="0"
                            data-y="260"
                            data-speed="300"
                            data-start="1600"
                            data-easing="easeOutExpo">
                            <i class="icon-check"></i>Resalta sobre los demas
                        </div>

                        <div class="tp-caption small-white sfr"
                            data-x="0"
                            data-y="300"
                            data-speed="300"
                            data-start="1800"
                            data-easing="easeOutExpo">
                            <a href="#" class="btn btn-large btn-primary">Solicitalo Ya</a>
                        </div>

                        <div class="tp-caption small-white lfb"
                            data-x="480"
                            data-y="center"
                            data-speed="1000"
                            data-start="2000"
                            data-easing="easeOutExpo">
                            <img src="{{STATIC_URL}}images-slider/server2.png" alt="" />
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- slider close -->


        <!-- call to action -->
        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="span9">
                        <h3>Lavamos Su Carro A Domicilio<span class="id-color"> 5899542 - 3157167906 </span>Llamenos ya!</h3>
                    </div>
                    <div class="span3">
                        <a href="#" class="btn btn-extra-large btn-primary">Solicitar Servicio!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- call to action close -->


        <!-- content begin -->
        <div id="content" class="no-bottom">
            <div class="container">
                <div class="row">
                    <!-- feature box begin -->
                    <div class="feature-box-small-icon span4">
                        <div class="inner">
                            <i class="icon-rocket circle"></i>
                            <div class="text">
                                <h3>Rapidez</h3>
                                No tienes tiempo? dejalo en nuestras manos, dejamos tu carro
                                como nuevo en un tiempo record no lo podras creer.
                            </div>
                        </div>
                    </div>
                    <!-- feature box close -->

                    <!-- feature box begin -->
                    <div class="feature-box-small-icon span4">
                        <div class="inner">
                            <i class="icon-reorder circle"></i>
                            <div class="text">
                                <h3>La mejor Opcion</h3>
                                Somos la mejor opcion, nuestro servicio es profesional, confiable, facil y seguro, somos profesionales.
                            </div>
                        </div>
                    </div>
                    <!-- feature box close -->

                    <!-- feature box begin -->
                    <div class="feature-box-small-icon span4">
                        <div class="inner">
                            <i class="icon-thumbs-up circle"></i>
                            <div class="text">
                                <h3>La Mejor Calidad</h3>
                                Brindar la mejor calidad esta en nuestra sangre, dejar al cliente satisfecho es nuestro deber, trabajamos para ti.
                            </div>
                        </div>
                    </div>
                    <!-- feature box close -->

                </div>

                <hr>
                <div class="block-title text-center">
                    <h1>Estos Son Algunos De Nuestros Planes</h1>
                    Los mejores precios la mejor calidad a su disposicion, aproveche su
                    tiempo y escoja el que mejor le convenga
                </div>
                <div class="pricing-4-col pricing-dark">
                    <!-- pricing box begin -->
                    <div class="pricing-box">
                        <ul>
                            <li class="title-row">
                                <h4>Basicos</h4>
                            </li>
                            <li class="price-row">
                                <h1>$14000</h1>
                                <span>Desde</span></li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li>Completo Interior Exterior Encerado<br>Automovil ---- Camioneta<br>$18000 --- $22000</li>
                            <li>Completo Interior Exterior Encerado<br>Automovil ---- Camioneta<br>$18000 --- $22000</li>
                            <li class="btn-row"><a href="" class="btn btn-primary">Pidelo Ahora</a></li>
                        </ul>
                    </div>
                    <!-- pricing box close -->

                    <!-- pricing box begin -->
                    <div class="pricing-box pricing-dark">
                        <ul>
                            <li class="title-row">
                                <h4>Combos Internos</h4>
                            </li>
                            <li class="price-row">
                                <h1>$45000</h1>
                                <span>Desde</span></li>
                            <li>Completo + Cojineria Tela y Techo<br>Automovil ---- Camioneta<br>$85000 --- $95000</li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li class="btn-row"><a href="" class="btn btn-primary">Pidelo Ahora</a></li>
                        </ul>
                    </div>
                    <!-- pricing box close -->

                    <!-- pricing box begin -->
                    <div class="pricing-box pricing-featured">
                        <ul>
                            <li class="title-row">
                                <h4>Combos Brillados</h4>
                            </li>
                            <li class="price-row">
                                <h1>$40.000</h1>
                                <span>Desde</span></li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li class="btn-row"><a href="" class="btn btn-primary">Pidelo Ahora</a></li>
                        </ul>
                    </div>
                    <!-- pricing box close -->

                    <!-- pricing box begin -->
                    <div class="pricing-box">
                        <ul>
                            <li class="title-row">
                                <h4>Super Combos</h4>
                            </li>
                            <li class="price-row">
                                <h1>$75000</h1>
                                <span>Desde</span></li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li>Sencillo Externo Con Encerado<br>Automovil ---- Camioneta<br>$14000 --- $18000</li>
                            <li class="btn-row"><a href="" class="btn btn-primary">Pidelo Ahora</a></li>
                        </ul>
                    </div>
                    <!-- pricing box close -->

                    <div class="clearfix"></div>

                </div>

                    <div class="clearfix"></div>

                </div>

                <hr>

                <!-- logo carousel -->
                <div class="flexslider logo-carousel no-control">
                    <ul class="slides">
                        <li>
                            <div class="span2">
                                <img src="{{STATIC_URL}}images/logo/1.png" alt="">
                            </div>
                        </li>

                        <li>
                            <div class="span2">
                                <img src="{{STATIC_URL}}images/logo/2.png" alt="">
                            </div>
                        </li>

                        <li>
                            <div class="span2">
                                <img src="{{STATIC_URL}}images/logo/3.png" alt="">
                            </div>
                        </li>

                        <li>
                            <div class="span2">
                                <img src="{{STATIC_URL}}images/logo/4.png" alt="">
                            </div>
                        </li>

                        <li>
                            <div class="span2">
                                <img src="{{STATIC_URL}}images/logo/5.png" alt="">
                            </div>
                        </li>

                        <li>
                            <div class="span2">
                                <img src="{{STATIC_URL}}images/logo/6.png" alt="">
                            </div>
                        </li>

                        <li>
                            <div class="span2">
                                <img src="{{STATIC_URL}}images/logo/7.png" alt="">
                            </div>
                        </li>

                        <li>
                            <div class="span2">
                                <img src="{{STATIC_URL}}images/logo/8.png" alt="">
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
            <!-- logo carousel close -->

            <section id="testimonial-full" data-speed="8" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="flexslider testi-slider">
                            <ul class="slides">
                                <li>
                                    <blockquote>"Sin duda lo mejor, la mejor opcion de la ciudad adios a las excusas mi carro quedo como nuevo"<span>Juan Diego</span></blockquote>
                                </li>
                                <li>
                                    <blockquote>"Fantastico... estoy muy agradecido por su ayuda, realmente solucionaron mi problema de falta de tiempo para lvar mi vehiculo Estoy encantado con el servicio."<span>Edwin Velasco</span></blockquote>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}